@use "../../../../../scss/variables.scss" as variables;

.blog__tags-list {
  margin: 20px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: variables.$primary;
  }
}
