@use "../../../../../scss/variables.scss";

:host {
  display: contents;
}

.blog__card-container {
  height: 100%;
  max-width: calc(100% - 30px);

  &.right {
    margin-left: 30px;
  }

  &.left {
    margin-right: 30px;
  }
}

.blog__top-info {
  display: flex;
  justify-content: space-between;
}

mat-card-actions {
  position: relative;
  margin-top: auto;
  bottom: 0;
  color: variables.$warn;
}

mat-card-subtitle {
  color: variables.$warn;
}
