<mat-card appearance="outlined" class="blog__card-container" [ngClass]="index  %  2 == 0 ? 'left' : 'right'">
  <img mat-card-image ra src="../../../../../assets/hip_hop.jpg" alt="Post image" />
  <mat-card-header>
    <mat-card-subtitle>
      <span *ngFor="let tag of post.tags"> {{ tag }} </span>
    </mat-card-subtitle>
    <mat-card-title>{{ post.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <markdown emoji katex mermaid gfm breaks ngPreserveWhitespaces>{{ post.content }}</markdown>
    <div class="blog__top-info">
      <span>
        {{ post.publishedAt | date }}
      </span>
      <span>
        {{ post.author }}
      </span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button>GO TO DETAILS</a>
  </mat-card-actions>
</mat-card>

<!-- <markdown>Feeling the desire to dance when there is no visible progress.

  > **ProTip:** Don't take part in dance competitions.
</markdown> -->
